<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="PostgreSQL" 
             connectionString="Server=localhost;Port=5432;Database=linq2dbTest;User Id=postgres;Password=#PASSWORD#;Pooling=true;MinPoolSize=10;MaxPoolSize=100;" 
             providerName="Npgsql"/>
    </connectionStrings>
</configuration>